/model.pkl
/dt_model.pkl
/decision_tree.png
/catboost_model.cbm
/xgb_model.json
/nn_model.keras
/nn_scaler.pkl
/nn_learning_curves.png
/nn_weights_histogram.png
/3catboost_model.cbm
/3catboost_feature_importance.csv
/3catboost_feature_importance.png
/4xgb_model.json
/4xgboost_feature_importance.csv
/4xgboost_feature_importance.png
/5nn_model.keras
/5nn_scaler.pkl
/5nn_learning_curves.png
/5nn_weights_histogram.png
/5nn_training_history.csv
/2dt_model.pkl
